// ------------------Example --
// $accent: #fe3e57;
// $defoult: #8d8d8d;
// $title: #29282d;
// $bg: #f6f6f6;
// $border: #ececec;

// %roboto-400{
//     font-family: 'Roboto-Regular', sans-serif;
//     font-weight: 400;
// }
// -----------------------------


 %futura-400{
    font-family: 'FuturaPT-Regular', sans-serif;
    font-weight: 400;
 }

 %futura-700{
    font-family: 'FuturaPT-Bold', sans-serif;
    font-weight: 700;
 }

 %lexend-400{
    font-family: 'Lexend-Regular', sans-serif;
    font-weight: 400;
 }

 %lexend-700{
    font-family: 'Lexend-Bold', sans-serif;
    font-weight: 700;
 }


// ---------------- When problems try this... ---------
// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }