$bg: #110a1d;
$mblue: #478bf9;
$purple: #9dadf2;
$mint: #7ddacf;
$mblue-hover: linear-gradient(to right, #9dadf2, #478bf9);

%futura-400 {
  font-family: "FuturaPT-Regular", sans-serif;
  font-weight: 400;
}

%futura-700 {
  font-family: "FuturaPT-Bold", sans-serif;
  font-weight: 700;
}

%lexend-400 {
  font-family: "Lexend-Regular", sans-serif;
  font-weight: 400;
}

%lexend-700 {
  font-family: "Lexend-Bold", sans-serif;
  font-weight: 700;
}
