@import "vars";
@import "fonts";
@import "reset.scss";
@import "libs.scss";
@import "global";

body {
  
}

.hog-logo {
  padding: 8px 8px;
  @extend %lexend-700;
  span {
    color: $mblue;
  }
}


.header {
  &__inner {
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 64px;
    border: 4px solid $mblue;
  }
  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
    &-link {
      &:hover {
        color: $mblue;
        transition: all 0.3s;
      }
    }
  }
  &__btn {
    position: relative;
    padding: 14px;
    text-transform: uppercase;
    border-radius: 24px;
    border: 2px solid $mblue;
    &:hover {
      background-color: $mblue;
    }
    &:first-child {
      padding-left: 38px;
      &:hover {
        &::before {
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(155%) contrast(100%);
        }
      }
      &::before {
        position: absolute;
        content: url(../images/icons/icon-planet.svg);
        display: block;
        width: 16px;
        height: 16px;
        top: 14px;
        left: 14px;
      }
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}



.footer {
  max-width: 1900px;
  border-radius: 64px 64px 0 0;
  border: 4px solid $mblue;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 40px 0 24px;
  }
  &__info-list,
  &__social-list {
    display: flex;
  }
  &__info-item {
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:hover {
      color: $mblue;
      text-decoration: underline;
    }
  }
  &__social {
    text-align: right;
    &-text {
      margin-bottom: 14px;
    }
    &-item {
      width: 32px;
      height: 32px;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
    &-link {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #9DADF2, #478BF9);
      background-image: url(../images/icons/icon-social-bg.svg);
      &:hover {
        background-image: url(../images/icons/icon-social-bg-hover.svg);
        transition: all 0.3s;
      }
    }
  }
}

/* ---------------------------------------- MAIN ----------------------*/

.main {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0 240px;
  }
  &__name {
    &-title {
      @extend %lexend-700;
      font-size: 96px;
      font-style: normal;
      line-height: 96px;
      text-transform: uppercase;
      margin-bottom: 24px;
      &>span {
        color: $mblue;
      }
    }
    &-subtitle {
      font-size: 32px;
      line-height: 32px;
      color: #999999;
      margin-bottom: 48px;
    }
    &-btn {
      padding: 20px 72px;
      border-radius: 36px;
      background-color: $mblue;
      color: #ffffff;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      text-transform: uppercase;
    }
  }
  &__blog {
    &-title {
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 24px;
    }
    &-box {
      position: relative;
      width: 530px;
      height: 594px;
      border-radius: 100px;
      border: 3px solid $mblue;
      padding: 24px;
      background: #ffffff1f;
      overflow: hidden;
      &-wraper {
        padding-right: 20px;
        overflow: auto;
        height: 564px;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          margin-top: 70px;
          margin-bottom: 80px;
          background-color: #999999;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: $mblue;
          border-radius: 4px;
        }
      }
      
    }
    &-item {
      padding: 14px 64px;
      border-radius: 196px;
      background: $bg;
      margin-bottom: 16px;
      &:hover {
        background-color: $mblue;
        &>.main__blog-date {
          color: #ffffff;
        }
      }
    }
    &-text {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 14px;
    }
    &-date {
      @extend %futura-400;
      font-size: 14px;
      font-style: normal;
      font-weight: 450;
      line-height: 16px;
      color: #999999;
    }
  }
}



@import "media";


